
# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

.env.test
.env.development
node_modules
public/bundle.js
public/bundle.js.map
public/styles.css
public/styles.css.map
bower_components
.env.*
.env.test
env.test
*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react